<blockquote class="blockquote ml-5">
  <footer class="bloquote-footer">
    Current Purchase Requests
  </footer>
</blockquote>
<div mdbTable class="grid-table">
    <div class="thead">
      <div mdbTableCol class="tr">
        <div class="td">No</div>
        <div class="td">ID</div>
        <div class="td">Department</div>
        <div class="td">Faculty</div>
        <div class="td">On</div>
        <div class="td">Purpose</div>
        <div class="td">Status</div>
        <div class="td">Examining</div>
        <div class="td">Submitted By</div>
        <div class="td"></div>
      </div>
    </div>
    <div class="tbody">
        <div class="tr" mdbTableCol *ngFor="let pr of purchaseRequests; let i = index;">
            <div class="td">{{i + 1}}</div>
            <div class="td">{{pr.id}}</div>
            <div class="td">{{pr.department}}</div>
            <div class="td">{{pr.faculty}}</div>
            <div class="td">{{pr.dateTime}}</div>
            <div class="td">{{pr.category}}</div>
            <div class="td">{{pr.purpose}}</div>
            <div class="td">{{pr.status}}</div>
            <div class="td">{{pr.submittedBy}}</div>
            <div class="td">{{pr.examining}}</div>
            <div class="td">
              <a class="btn btn-outline-success" href="#" role="button">View</a>
            </div>
          </div>
    </div>
</div>