<blockquote class="blockquote ml-5">
  <footer class="bloquote-footer">
    <h2>Current Purchase Requests</h2>
  </footer>
</blockquote>
<div mdbTable class="grid-table">
    <div class="thead">
      <div mdbTableCol class="tr">
        <div class="td">No</div>
        <div class="td">ID</div>
        <div class="td">Department</div>
        <div class="td">Faculty</div>
        <div class="td">On</div>
        <div class="td">Purpose</div>
        <div class="td">Status</div>
        <div class="td">Examining</div>
        <div class="td">Submitted By</div>
        <div class="td"><a class="btn btn-primary" href="/purchaserequest/add">New</a></div>
      </div>
    </div>
    <div class="tbody">
        <div class="tr" mdbTableCol *ngFor="let pr of purchaseRequests; let i = index;">
          <div class="td">
            {{i + 1}}
          </div>
          <div class="td">
            <label class="form-control">{{pr.id}}</label>
          </div>
          <div class="td">
            <label class="form-control">{{pr.department}}</label>
          </div>
          <div class="td">
            <label class="form-control">{{pr.faculty}}</label>
          </div>
          <div class="td">
            <label class="form-control">{{sup.dateTime}}</label>
          </div>
          <div class="td">
            <label class="form-control">{{sup.purpose}}</label>
          </div>
          <div class="td">
            <label class="form-control">{{sup.status}}</label>
          </div>
          <div class="td">
            <label class="form-control">{{sup.submittedBy}}</label>
          </div>
          <div class="td">
            <label class="form-control">{{sup.examining}}</label>
          </div>
            <div class="td">
              <a class="btn btn-outline-success" href="#" role="button">View</a>
            </div>
          </div>
    </div>
</div>