<h2 style="color: #6d0505;text-align: center">Current Users</h2>

><table class="table table-striped table-dark table-bordered"  style="max-width: 50% ; margin-left: auto;margin-right: auto;">
  <thead><tr>
    <th scope="col">No</th>
    <th scope="col">ID</th>
    <th scope="col">Faculty</th>
    <th scope="col">Department</th>
    <th scope="col">Full Name</th>
    <th scope="col">Position</th>
</thead>
<tbody>
  <tr scope="row" *ngFor="let pr of User; let i = index;">
        <td>{{i + 1}}</td>
        
        <td>{{pr.id}}</td>
        
        <td>{{pr.faculty.name}}</td>

        <td>{{pr.department.name}}</td>
        
        <td>{{pr.fullName}</td>
        
        <td>{{pr.name}}</td>

        <td>{{pr.positionText}}</td>                
        <td>
          <a class="btn btn-outline-success" href="user/view?id={{pr.id}}" role="button">View</a>
    </tr>
</tbody>
</table>
 