<div class="form-v5">
  <div class="page-content">
    <div class="form-v5-content">
      <form class="form-detail" [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm)" novalidate>
        <span style="margin: 30px; margin-left: 50px; "> <h1><u> Add Purchase Request View | New</u></h1></span>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Faculty <br> Department</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="InputFaculty" id="InputFaculty" placeholder="Faculty or Department" >
          </div>
        </div>   
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Funds Goal</label>
          <div class="col-sm-8">
            <span style="margin-right: 15px;">Yes</span> 
            <input type="radio"  name="Funds" id="Funds1" value="Yes" checked>
            <span style="margin-right: 15px; margin-left: 30px;">No</span> 
            <input type="radio"  name="Funds" id="Funds2" value="No">
          </div>
        </div>
        <br>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Project</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="Project" id="Project" placeholder="Project">
          </div>
        </div>
        
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Vote</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="Vote"  id="Vote" placeholder="Vote">
          </div>
        </div>

        <br><br><br>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">In Procurement Plan</label>
          <div class="col-sm-8">
            <span style="margin-right: 15px;">Yes</span> 
            <input type="radio"  name="Procument" id="Procument1" checked value="Yes">
            <span style="margin-right: 15px; margin-left: 30px;">No</span> 
            <input type="radio"  name="Procument" id="Procument2">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Purpose</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="Purpose" id="inputPurpose" placeholder="Purpose">
          </div>
        </div>
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Date  Time </label>
          <div class="col-sm-8">
            <input type="datetime-local" id="date" name="date" style="color: black;" >
            <!-- <input type="time" id="time" name="time"> -->
          </div>
        </div>

        
        <br><br>

        <table class="table table-bordered table-dark">
          <thead>
            <tr >
              <th style="text-align: center; padding-top: 30px;">No</th>
              <th style="text-align: center; padding-bottom: 20px;" scope="col"> Item ID</th>
              <th style="text-align: center; padding-bottom: 20px;" scope="col">Name</th>
              <th style="text-align: center; padding-bottom: 20px;"scope="col">Category 2</th>
              <th  scope="col">
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bd-example-modal-lg">Add New</button><br>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let si of selectedItems; let i = index;">
              <td style="text-align: center; padding-top: 30px;">{{i + 1}}</td>
              <td style="text-align: center; padding-top: 30px;">{{si.Id}}</td>
              <td style="text-align: center; padding-top: 30px;">
                <div class="form-row">
                  <select (change)="setItemDetails()" class="input-text">
                    <option value="-1" selected hidden>Item Name</option>
                    <option *ngFor="let item of itemList; let ii = index;" value="{{item.id}}">{{item.name}}</option>
                  </select>
                  <i class="fas fa-user"></i>
                </div>
              </td>
              <td style="text-align: center; padding-top: 30px;"></td>
              <td style="text-align: center; padding-top: 30px;">
                <button style="margin: 5px;" type="button" class="btn btn-success btn">Edit</button>
                <button style="margin: 5px;" type="button" class="btn btn-danger btn">Delete</button>
              </td>
            </tr>
          </tbody>
        </table>
        <!-- Modal Items-->
        <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <table class="table table-bordered table-dark">
                <thead>
                  <tr >
                    <th style="text-align: center; padding-top: 30px;">No</th>
                    <th style="text-align: center; padding-bottom: 20px;" scope="col"> Item ID</th>
                    <th style="text-align: center; padding-bottom: 20px;" scope="col">Name</th>
                    <th style="text-align: center; padding-bottom: 20px;"scope="col">Category 2</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of itemList; let i = index;">
                    <td style="text-align: center; padding-top: 30px;">{{i + 1}}</td>
                    <td style="text-align: center; padding-top: 30px;">{{item.id}}</td>
                    <td style="text-align: center; padding-top: 30px;">{{item.name}}</td>
                    <td style="text-align: center; padding-top: 30px;">{{item.category2.name}}</td>
                    <td style="text-align: center; padding-top: 30px;">
                      <button id="{{i}}" type="button" class="btn btn-primary" data-toggle="modal" (click)="setItemDetails($event)" data-target=".bd-example-modal-sm">Add New</button><br>
                      <!-- <button  style="margin: 5px;" type="button" class="btn btn-success btn" ">Add</button> -->
                      <button style="margin: 5px;" type="button" class="btn btn-danger btn">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!-- Modal Spec Categories-->
        <div class="modal fade bd-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-sm">
            <div class="modal-content">
              Specification Category
              <table class="table table-bordered table-dark">
                <thead>
                  <tr >
                    <th style="text-align: center; padding-top: 30px;">No</th>
                    <th style="text-align: center; padding-bottom: 20px;" scope="col">ID</th>
                    <th style="text-align: center; padding-bottom: 20px;" scope="col">Name</th>
                    <th style="text-align: center; padding-bottom: 20px;"scope="col">Description</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cat of specificationCategories; let i = index;">
                    <td style="text-align: center; padding-top: 30px;">{{i + 1}}</td>
                    <td style="text-align: center; padding-top: 30px;">{{cat.id}}</td>
                    <td style="text-align: center; padding-top: 30px;">{{cat.name}}</td>
                    <td style="text-align: center; padding-top: 30px;">{{cat.description}}</td>
                    <td style="text-align: center; padding-top: 30px;">
                      <button id="{{i}}" type="button" class="btn btn-primary" data-toggle="modal" (click)="setItemDetails($event)" data-target=".bd-example-modal-sm">Add New</button><br>
                      <!-- <button  style="margin: 5px;" type="button" class="btn btn-success btn" ">Add</button> -->
                      <button style="margin: 5px;" type="button" class="btn btn-danger btn">Delete</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <br>
        <div class="form-row-last">
					<input style="padding-right: 40px;padding-left: 40px;" type="submit" name="Submit" class="btn btn-primary" value="Submit">
        </div>
      </form>
    </div>
  </div>
</div>
