<div class="form-v5">
    <div class="page-content">
		<div class="form-v5-content">
			<form class="form-detail" [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm)" novalidate>
                <h2>Profile</h2>
				<div class="form-row">
					<label for="Faculty">Faculty</label>
                    <select (ngModelChange)="onFacultySelect(checkoutForm)" formControlName="Faculty" class="input-text" required>
						<option value="0" selected hidden>Select The Faculty</option>
                        <option *ngFor="let cat of FacultyList; let i = index;" value="{{cat.id}}">{{cat.name}}</option>
                      </select>
					<i class="fas fa-User"></i>
                </div>
                <div class="form-row">
					<label for="Department">Department</label>
					<select formControlName="Department" class="input-text" required>
						<option value="0" selected hidden>Select The Department</option>
                        <option *ngFor="let cat of DepartmentList; let i = index;" value="{{cat.id}}">{{cat.name}}</option>
                      </select>
					<i class="fas fa-envelope"></i>
                </div>
                <div class="form-row">
					<label for="FullName">Full Name</label>
					<input type="text" formControlName="FullName" id="FullName" class="input-text" required>
					<i class="fas fa-envelope"></i>
				</div>
				<div class="form-row">
					<label for="ShortName">Short Name</label>
					<input type="text" formControlName="ShortName" id="ShortName" class="input-text" placeholder="ShortName" required>
					<i class="fas fa-envelope"></i>
				</div>
				<div class="form-row">
					<label for="Position">Position</label>
					<select formControlName="Position" id="Position" class="input-text" required>
						<option value="-1" selected hidden>Select The Position</option>
						<option value="1">Dean</option>
						<option value="2">Head</option>
						<option value="3">VC</option>
						<option value="4">DVC</option>
						<option value="5">SAB</option>
						<option value="6">Lecturer</option>
						<option value="7">Instructor</option>
						<option value="8">TO</option>
						<option value="9">Clerk</option>						
					</select>
					<i class="fas fa-envelope"></i>
				</div>
				<div class="form-row">
					<label for="MergedId">Merged User</label>
					<select formControlName="MergedId" id="MergedId" class="input-text" required>
						<option value="0" selected hidden>Merged User</option>
						<option *ngFor="let cat of UserList; let i = index;" value="{{cat.id}}">{{cat.fullName}}</option>
					</select>
				</div>
				<div class="form-row-last">
					<input type="submit" name="Register" class="Register" value="Register">
				</div>
			</form>
		</div>
	</div>
</div>
