<div class="form-v5">
    <div class="page-content">
		<div class="form-v5-content">
			<form class="form-detail" [formGroup]="checkoutForm" (ngSubmit)="onSubmit(checkoutForm)" novalidate>
                <h2>Add New User</h2>
				<div class="form-row">
					<label for="Faculty">Faculty</label>
                    <select (ngModelChange)="onFacultySelect(checkoutForm)" formControlName="Faculty" class="input-text" required>
						<option value="0" selected hidden>Select The Faculty</option>
                        <option *ngFor="let cat of FacultyList; let i = index;" value="{{cat.id}}">{{cat.name}}</option>
                      </select>
					<i class="fas fa-User"></i>
                </div>
                <div class="form-row">
					<label for="Department">Department</label>
					<select formControlName="Department" class="input-text" required>
						<option value="0" selected hidden>Select The Department</option>
                        <option *ngFor="let cat of DepartmentList; let i = index;" value="{{cat.id}}">{{cat.name}}</option>
                      </select>
					<i class="fas fa-envelope"></i>
                </div>
                <div class="form-row">
					<label for="FullName">Full Name</label>
					<input type="text" formControlName="FullName" id="FullName" class="input-text" required>
					<i class="fas fa-envelope"></i>
				</div>
				<div class="form-row">
					<label for="ShortName">Short Name</label>
					<input type="text" formControlName="ShortName" id="ShortName" class="input-text" placeholder="ShortName" required>
					<i class="fas fa-envelope"></i>
				</div>
				<div class="form-row">
					<label for="PermissionList">Permision List</label>
					<input type="text" formControlName="PermissionList" id="PermissionList" class="input-text" placeholder="PermissionList" required>
					<i class="fas fa-envelope"></i>
				</div>
				<div class="form-row">
					<label for="Position">Position</label>
					<select formControlName="Position" id="Position" class="input-text" required>
						<option value="0" selected hidden>Select The Position</option>
						<option *ngFor="let cat of userPositions; let i = index;" value="{{cat.id}}">{{cat.name}}</option>
					</select>
					<i class="fas fa-envelope"></i>
				</div>
				<div class="form-row">
					<label for="Type">User Type</label>
					<select formControlName="Type" id="Type" class="input-text" required>
						<option value="0" selected hidden>Select the User Type</option>
						<option *ngFor="let cat of UserType; let i = index;" value="{{cat.id}}">{{cat.name}}</option>
					</select>
				</div>
				<div class="form-row">
					<label for="MergedId">Merged Id</label>
					<input type="text" formControlName="MergedId" id="MergedId" class="MergedId" placeholder="MergedId" required>
				</div>
				<div class="form-row-last">
					<input type="submit" name="Add" class="Add" value="Add">
				</div>
			</form>
		</div>
	</div>
</div>
