<blockquote class="blockquote ml-5">
    <h2>Ruhuna Service & Supply Management System</h2>
    <footer class="bloquote-footer">
      Item
    </footer>
  </blockquote>
  <div mdbTable class="grid-table">
    <div class="thead">
      <div mdbTableCol class="tr">
        <div class="td">ID</div>
        <div class="td">Name</div>
        <div class="td"></div>
      </div>
    </div>
    <div class="tbody">
      <div class="tr" mdbTableCol *ngFor="let itm of ItemList; let i = index;">
        <div class="td">
          {{i + 1}}
        </div>
        <div class="td">
          <label class="form-control">{{itm.id}}</label>
        </div>
        <div class="td">
          <label class="form-control">{{itm.Name}}</label>
        </div>
        <div class="td">
          <a class="btn btn-outline-success" href="#" role="button">View</a>
        </div>
      </div>
      <div class="tr">
        <div class="td"></div>
        <div class="td"></div>
        <div class="td">
          <input class="form-control" placeholder="Search Text" [(ngModel)]="searchText">
          
        </div>
        <a class="btn btn-primary" role="button" (click)="getItem()">Search</a>
      </div>
    </div>
  </div>