
<h2 style="color: #6d0505;text-align: center">Current Items</h2>
<table class="table table-striped table-dark table-bordered"  style="max-width: 50% ; margin-left: auto;margin-right: auto;">
  <thead><tr>
    <th scope="col">No</th>
    <th scope="col">ID</th>
    <th scope="col">Category 01</th>
    <th scope="col">Category 02</th>
    <th scope="col">Category 03</th>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <th scope="col"><a class="btn btn-primary" href="/item/add">New</a></th>
  </tr>
</thead>
 <tbody>
      <tr scope="row" *ngFor="let pr of Item; let i = index;">
            <td>{{i + 1}}</td>
            
            <td>{{pr.id}}</td>
            
            <td>{{pr.category1.name}}</td>

            <td>{{pr.category2.name}}</td>
            
            <td>{{pr.category3.name}}</td>
            
            <td>{{pr.name}}</td>

            <td>{{pr.description}}</td>                
            <td>
                <a class="btn btn-outline-success" href="item/view?id={{pr.id}}" role="button">View</a>
            </td>
        </tr>
    </tbody>
</table>