<blockquote class="blockquote ml-5">
  <footer class="bloquote-footer">
    Specification Category List
  </footer>
</blockquote>
<div mdbTable class="grid-table">
  <div class="thead">
    <div mdbTableCol class="tr">
      <div class="td">No</div>
      <div class="td">ID</div>
      <div class="td">Item</div>
      <div class="td">title</div>
      <div class="td">Description</div>
      <div class="td"></div>
    </div>
  </div>
  <div class="tbody">
    <div class="tr" mdbTableCol *ngFor="let spcat of specificationcategoryList; let i = index;">
      <div class="td">
        {{i + 1}}
      </div>

      <div class="td">
        <label class="form-control">{{spcat.id}}</label>
      </div>
      <div class="td">
        <label class="form-control">{{spcat.item}}</label>
      </div>
      <div class="td">
        <label class="form-control">{{spcat.title}}</label>
      </div>
      <div class="td">
        <label class="form-control">{{spcat.description}}</label>
      </div>
      <div class="td">
        <a class="btn btn-outline-success" href="#" role="button">View</a>
      </div>
    </div>
    <div class="tr">
      <div class="td"></div>
      <div class="td"></div>
      <div class="td">
        <input class="form-control" placeholder="Search Text" [(ngModel)]="searchText">

      </div>
      <a class="btn btn-primary" role="button" (click)="getSpecificationcategories()">Search</a>
    </div>
  </div>
</div>
