

      <h2 style="color: #6d0505;text-align: center">Current Quotations 03</h2>
  <table class="table table-striped table-dark table-bordered"  style="max-width: 50% ; margin-left: auto;margin-right: auto;">
    <thead><tr>
      <th scope="col">No</th>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col"><a class="btn btn-primary" href="/category3/add">New</a></th>
    </tr>
  </thead>
  <tbody>
    <tr scope="row" *ngFor="let pr of Category3; let i = index;">
          <td>{{i + 1}}</td>
          
          <td>{{pr.id}}</td>
          
          <td>{{pr.name}}</td>

          <td>{{pr.description}}</td>                
          <td>
              <a class="btn btn-outline-success" href="category3/view?id={{pr.id}}" role="button">View</a>
          </td>
      </tr>
  </tbody>
</table>
