<blockquote class="blockquote ml-5">
    <footer class="bloquote-footer">
      Current category 03
    </footer>
  </blockquote>
  <div mdbTable class="grid-table">
      <div class="thead">
        <div mdbTableCol class="tr">
          <div class="td">No</div>
          <div class="td">ID</div>
          <div class="td">Name</div>
          <div class="td">Description</div>
          <div class="td"><a class="btn btn-primary" href="/category3/add">New</a></div>
        </div>
      </div>
      <div class="tbody">
          <div class="tr" mdbTableCol *ngFor="let pr of Category3; let i = index;">
              <div class="td">{{i + 1}}</div>
              <div class="td">{{pr.id}}</div>
              <div class="td">{{pr.name}}</div>
              <div class="td">{{pr.description}}</div>
              <div class="td">
                <a class="btn btn-outline-success" href="category3/view?id={{pr.id}}" role="button">View</a>
              </div>
            </div>
      </div>
  </div>
