<blockquote class="blockquote ml-5">
    <footer class="bloquote-footer">
        <h2 style="color: #6d0505;">Current Items</h2>
    </footer>
  </blockquote>
  <div mdbTable class="grid-table">
      <div class="thead">
        <div mdbTableCol class="tr">
          <div class="td">Quotation Number</div>
          <div class="td">Submited Date</div>
          <div class="td">Status</div>
          <div class="td">Supplier Name</div>
          <div class="td"><a class="btn btn-primary" href="/Quotation/add">New</a></div>
        </div>
      </div>
      <div class="tbody">
          <div class="tr" mdbTableCol *ngFor="let pr of Quotation; let i = index;">
            <div class="td" style="text-align: center">{{i + 1}}</div>
            <div class="td">
              <label class="form-control">{{pr.id}}</label>
            </div>
            <div class="td">
              <label class="form-control">{{pr.date}}</label>
            </div>
            <div class="td">
              <label class="form-control">{{pr.status}}</label>
            </div>
            <div class="td">
                <label class="form-control">{{pr.Supplier}}</label>
              </div>
              <div class="td">
                <a class="btn btn-outline-success" href="quotation/view?id={{pr.id}}" role="button">View</a>
              </div>
            </div>
      </div>
  </div>

