<blockquote class="blockquote ml-5">
    <footer class="bloquote-footer">
      <h2 style="color: #6d0505;">Current category 01</h2>
    </footer>
  </blockquote>
  <div mdbTable class="grid-table">
      <div class="thead">
        <div mdbTableCol class="tr">
          <div class="td">No</div>
          <div class="td">ID</div>
          <div class="td">Name</div>
          <div class="td">Description</div>
          <div class="td"><a class="btn btn-primary" href="/category1/add">New</a></div>
        </div>
      </div>
      <div class="tbody">
          <div class="tr" mdbTableCol *ngFor="let pr of Category1; let i = index;">
            <div class="td" style="text-align: center">{{i + 1}}</div>
            <div class="td">
              <label class="form-control">{{pr.id}}</label>
            </div>
            <div class="td">
              <label class="form-control">{{pr.name}}</label>
            </div>
            <div class="td">
              <label class="form-control">{{pr.description}}</label>
            </div>
              <div class="td">
                <a class="btn btn-outline-success" href="category1/view?id={{pr.id}}" role="button">View</a>
              </div>
            </div>
      </div>
  </div>
